.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f8fc;
}

.Onda {
  width: 100%;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 37.375rem;
  height: 30.563rem;
  border-radius: 5px;
}

.Primary {
  width: 327px;
  height: 53px;
  background: #04a3eb;
  border-radius: 8px;
  color: #ffff;
}

.Directionrow {
  display: flex;
  flex-direction: row;
}
